@media (max-width: 767px) {
  body {
    background-color: rgb(35, 63, 83);
  }
  h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(198, 179, 104);
    margin: 1% 25%;
  }
  .title {
    border: 1px;
    margin-left: 3%;
    margin-right: auto;
    font-size: 20px;
    display: flex;
  }
  #inline {
    display: flex;
  }
  .timer {
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: x-large;
    color: rgb(255, 255, 255);
    width: 70px;
    height: 30px;
    margin-left: 10%;
  }
  .simonBoard {
    width: 300px;
    height: 300px;
    margin: 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    order: 1;
  }
  .simonBtn {
    cursor: pointer;
  }
  label {
    align-content: center;
  }
  #green {
    background-color: rgb(0, 128, 0);
    border-top-left-radius: 100%;
    height: 90%;
    width: 90%;
    margin-top: 7%;
    margin-left: 7%;
  }
  #red {
    background-color: rgb(255, 0, 0);
    border-top-right-radius: 100%;
    height: 90%;
    width: 90%;
    margin-top: 7%;
    margin-left: 2%;
  }
  #yellow {
    background-color: rgb(255, 255, 0);
    border-bottom-left-radius: 100%;
    height: 90%;
    width: 90%;
    margin-top: 3%;
    margin-left: 7%;
  }
  #blue {
    background-color: rgb(0, 0, 255);
    border-bottom-right-radius: 100%;
    height: 90%;
    width: 90%;
    margin-top: 3%;
    margin-left: 2%;
  }
  .startBtn1 {
    width: 100%;
    margin: 1% 32%;
  }
  #startBtn {
    font-size: 15px;
    background-color: rgb(245, 222, 179);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
  }
  .active {
    box-shadow: 0 0 50px rgb(178, 238, 182);
  }
  .fatherBody {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .pointList {
    background-color: rgb(198, 179, 104);
    width: 50%;
    height: 300px;
    margin-top: 8%;
    margin-left: 10%;
    text-align: center;
    order: 2;
  }
  .footer {
    text-align: center;
  }
  .footer a {
    display: flex;
    margin: 10px;
    margin-left: 20%;
    font-size: 20px;
    color: rgb(250, 235, 215);
  }
  /* Estilos para WEB de formulario*/
  .formCenter {
    display: flex;
    width: 300px;
    background-color: rgb(28, 27, 27);
    align-items: center;
    justify-content: center;
    margin: 5% auto;
    border-radius: 10%;
  }
  .formCenter h1 {
    display: flex;
    font-size: medium;
  }
  #textArea {
    width: 250px;
  }
  .form {
    width: 50vh;
  }
  #mediumForm {
    border: 2px;
    color: rgb(240, 255, 255);
    font-size: 15px;
    display: block;
  }
  #mediumForm button {
    border: 2px;
    display: flex;
    margin: 5% auto;
  }
  #mediumForm div {
    align-items: center;
    margin: 5% 10%;
  }
}